body {
	background-color: #140100;
	background-image: url(img/dark-geometric.png);
	background-repeat: repeat;
	margin: 0px;
}
header {
	background-color: #8c6968;
	background-image: url(img/billie-holiday.png);
	background-repeat: repeat;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	border-top: 20px solid black;
	border-bottom: 20px solid black;
	border-style: double;

}
footer {
	background-color: #8c6968;
	background-image: url(img/billie-holiday.png);
	background-repeat: repeat;
	padding-top: 20px;
	padding-bottom: 25px;
	border-top: 20px solid black;
	border-top-style: double;

}
aside {
	background-color: #8c6968;
	background-image: url(img/sidebarFace.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
	max-width: 25%;
	min-width: 25%;
	border-right: 6px solid black;
	float: left;
	position: fixed;
}
a {
	color: black;
}
a:hover{
	opacity: 0.5;
}

h2 {
    	font-size: 25px;
    }

/*оформление блоков с текстом*/
.textframe {
	background-color: #8c6968;
	background-image: url(img/billie-holiday.png);
	background-repeat: repeat;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 20px solid black;
	border-left: 20px solid black;
	border-left-style: double;
	border-right-style: double; 
	max-width: 800px;
}
.text {
	font-family: 'Cormorant', serif;
	font-size: 25px;
}
.header {
	font-family: 'Playfair Display SC', serif;
	font-size: 30px;
	text-align: center;
}
.picturebutton {
	background-color: #8c6968;
	background-image: url(img/billie-holiday.png);
	background-repeat: repeat;
	padding-bottom: 5px;
	border-right: 8px solid black;
	border-left: 8px solid black;
	max-width: 500;
	min-width: 100;
	text-align: center;
}
.picturebutton img {
	max-width: 500px;
	min-width: 100px;
	border-top: 8px solid black;
	border-left: 8px solid black;
	border-right: 8px solid black;
	border-bottom: 8px solid black;
	margin: 8px;
}
.sidebarmargin{
	margin-left: 25%;
}
.tablepadding {
	padding: 40px;
}

